<p id="notice"><%= notice %></p>



<h2>
  <%= link_to @player.name, "https://myutr.com/profiles/" + @player.utr_player_id.to_s %> 
  <small>(Utr profile)</small>
<h2>


<%= area_chart @player.rankings.where("ranking_category = ? or ranking_category = ?", "MS", "WS").order(created_at: :desc).pluck(:created_at, :utr), min: 0, max: 17  %>

